.header {
  width: 100%;
  box-sizing: border-box;
  height: 80px;
  background-color: white;

  &__function-and-information-panel {
    display: flex;
    justify-content: space-between;

    > * {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.85);
    }
  }

  &__container {
    padding: 0 22px;
    height: 80px;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    text-decoration: none;
    font-size: 18px;
    color: black;
  }
}
